[submodule "Plugins/ALS-Community"]
	path = Plugins/ALS-Community
	url = https://github.com/dyanikoglu/ALS-Community.git
[submodule "Plugins/AdvancedSessionsPlugin"]
	path = Plugins/AdvancedSessionsPlugin
	url = https://github.com/mordentral/AdvancedSessionsPlugin.git
